.Chat-main
  .Chat-main__group-info
    .HeadingGroup
      .HeadingGroup__name
        =@group.name
      %ul.HeadingGroup__memberList 
        Member :
        - @members.each do |member|
          %li.HeadingGroup__memberList--member 
            = member.name 
    =link_to edit_group_path(current_user), class:"EditButton" do
      %P.EditButton--edit Edit

  .Chat-main__message-list
    =render partial: 'message', collection: @messages

  .Chat-main__message-form
    =form_with model: [@group, @message], html: {class: "Form"}, local: true do |form|
      .FormContents
        =form.text_field :text, class: 'FormContents__text', placeholder: 'type a message'
        =form.label :image, class: "FormContents__image" do
          = icon('fas', 'image')
          =form.file_field :image, class: 'FormContents__image--file'
      =form.submit 'send', class: 'SendButton'
